<div class="container">
  <div class="row justify-content-center">
    <form (ngSubmit)="login()" #f="ngForm" novalidate>
      <fieldset class="position-absolute top-50 start-50 translate-middle">
        <div class="margin">
          <div class="text-center">
             <h2 class="legend">City list</h2>
          </div>
        </div>
        <div class="input-group mb-2 mt-5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="username"><i class="bi bi-person"></i></span>
          </div>
          <input [(ngModel)]="username" aria-describedby="username" aria-label="Username" class="form-control" id="user"
                 autocomplete="off" name="username" placeholder="Username" required type="text">

        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="password"><i class="bi bi-key"></i></span>
          </div>
          <input [(ngModel)]="password" aria-describedby="password" aria-label="Username" class="form-control" id="pass"
                 name="password" placeholder="Password" required type="password" autocomplete="current-password">
        </div>
        <div class="row mt-5 ">
          <button class="col-6 offset-3 btn btn-outline-primary" id="login"
                  [disabled]="password.length == 0 || username.length == 0" name="action"
                  type="submit">Login<i class="bi-box-arrow-in-right"></i>
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
