<div class="container">
  <div class="row mb-2">
    <fieldset class="fieldset">
      <div class="row mb-2 mt-2">
        <label class="form-label col-2">City name</label>
        <input [(ngModel)]="city.name" class="input col-3" maxlength="45" minlength="1" required type="text"/>
      </div>
      <div class="row mb-2">
        <label class="col-2">Link to photo</label>
        <textarea [(ngModel)]="city.photoLink" class="input col-8" rows="3" maxlength="2000" required type="url"></textarea>
      </div>
    </fieldset>
  </div>
  <div class="row mb-2">
    <button (click)="save()" [disabled]="city.name == '' || city.photoLink == ''"
            class="btn btn-outline-primary col-2 me-2" id="save">
      <i class="bi bi-save ms-2 me-2"></i>Save
    </button>
    <button (click)="backToDashboard()"  class="btn btn-outline-danger col-2 me-2" id="back">
      <i class="bi bi-save ms-2 me-2"></i>Back
    </button>
  </div>
</div>
